:root {
  --white-color:#fff;
  --black-color:#000;
  --text-color:#333;
}
body{
 
}
*{
  box-sizing: inherit;
}
html{
  // font-size: 62.5%;
  // line-height: 1.6rem;
  box-sizing: border-box;
}
@keyframes Grow {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}
.grid{
  width: 1200px;
  max-width: 100%;
  margin:0 auto
}
.grid-full-width{
  width: 100%;
}
.grid_row{
  display: flex;
  flex-wrap: wrap;
  // margin-left: -12px;
  // margin-right: -12px;
}
.grid-column-2{
  padding-left: 6px;
  padding-right: 6px;
  width: 17%;
  padding-bottom: 10px;
}
.grid-column-2-4{
  padding-left: 5px;
  padding-right:5px;
  width: 20%;
}
.grid-column-10{
  padding-left: 12px;
  padding-right: 12px;
  width: 83%;
}
body{
  margin: 0;
}
.message_error{
  color: red;
  margin-top: 5px;
}
