.users_management_part{
    background-color:#F5F5F5;
    min-height: 600px;
    padding: 20px;
    position: relative;
    .header_totalUsers{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .title_totalUsers{
            color: #042659;
            margin: 0;
        }
        .addEmployee_btn{
            background-color:#2962ff;
            color: #F5F5F5;
            outline: none;
            border:none;
            border-radius: 5px;
            width:150px;
            height: 40px;
            cursor: pointer;
            font-size: 13px;
            .plusCircle_icon{
                margin-right: 5px;
                transform: translateY(10%);
            }
        }

    }
    .mainTotal_Users_part{
        background-color: var(--white-color);
        min-height: 100px;
        border-radius:2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        .users_title{
            margin-top: 0;
            height: 34px;
            padding:0px 0px 16px;
            box-shadow: inset 0 -1px #2632381a;
        }
        .headerActions_users{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .filter_users{
                width: 23%;
                border: 1px solid #e3e9ed;
                padding-left: 5px;
            }
            .search_users_part{
                position: relative;
                width: 75%;
                .search_icon{
                    position: absolute;
                    left:10px;
                    top:28%
                }
                .search_users_input{
                    height: 38px;
                    width: 100%;
                    padding-left: 30px;
                    border-radius: 2px;
                    border: 1px solid #e3e9ed;
                }
            }
        }
        .table_users{
            padding: 10px;
            width: 100%;
            border-collapse: collapse;
            .title_table{
                height: 48px;
                background-color:#fcfcfc;
                .titleUsers_item:first-child{
                    width: 10%;
                }
                .titleUsers_item:nth-child(2){
                    width: 30%;
                }
                .titleUsers_item:nth-child(3){
                    width: 25%;
                }
                .titleUsers_item:nth-child(4){
                    width: 13%;
                }
            }
            .body_UsersTable{
                .detailUser_item{
                    border-bottom:1px solid rgba(128, 128, 128, 0.233) ;
                    td{
                        text-align: center;
                        .delete_productItem{
                            color: red;
                            margin-left: 10px;
                            font-size: large;
                            cursor: pointer;
                        }
                        .edit_productItem{
                            color: #2962ff;
                            font-size: large;
                            cursor: pointer;
                        }
                    }
                    .nameUsers_item{
                        display: flex;
                        align-items: center;
                        gap:10px;
                        .picture_userItem{
                            width: 50px;
                            margin-left: 5px;
                            height: 50px;        
                            padding: 10px 5px;
                            border-radius: 2px;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius:50% ;
                            }
                        }
                    }
                }
            }
        }
    }
    .manageUser_modal{
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.418);
        display: flex;
        .addEmployee__form{
            margin: auto;
            padding: 10px 20px;
            width: 400px;
            height: 550px;
            border-radius: 5px;
            background-color: white;
            position: relative;
            .closeEmployee_form{
                cursor: pointer;
                background-color:#BB2327;
                width: 35px;
                position: absolute;
                height: 35px;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                top:0;
                right:0;
                color: white;
                font-size: large;
            }
            .addEmployee_item{
                margin-bottom: 10px;
                input{
                    margin-top: 5px;
                    height: 38px;
                    width: 100%;
                    padding-left: 12px;
                    border-radius: 2px;
                    border: 1px solid #e3e9ed;  
                    margin-bottom: 5px;
                }
            }
            .addEmployee_item:last-child{
                display: flex;
                justify-content: flex-end;
                .addEmployee_btn{
                    margin: 10px 0px;
                    background-color:#2962ff;
                    color: #F5F5F5;
                    outline: none;
                    border:none;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 80px;
                    height: 30px;
                }
            }
        }
    }
}
.admin_menu{
    margin-top: 0;
    background-color: #edeff2;
    min-height: 50px;
    border-right: 1px solid #e5e7eb;
}